---
layout: base
---

<header id="parent">
    <div class="container">
        <div class="row" id="child">
            <div class="col-md-12">
                <div class="text-center" >
                    <img src="assets/images/CU_Blockchain_Logo_Outline.png" alt="" class="img-responsive title-logo">
                    <h1 class="title">Fall 2018</h1>
                    <h1 class="title">CU Blockchain Summit</h1>

                    <h2>Workshops | Panels | Networking</h2>
                    <h3>Kickoff @ UMC on October 13<sup>th</sup> 2018</h3>
					<h3>3 Week Blockchain Project Competition </h3>
                    <h3>Concluding @ Idea Forge on November 3<sup>rd</sup> 2018</h3>

                </div>

            </div>
        </div>
    </div>
</header>

{% include sections/about.html %}
{% include sections/register.html %}
{% include sections/faq.html %}

{% include sections/schedule.html %}

{% include sections/become_sponsor.html %}
{% include sections/sponsors.html %}
{% include sections/partners.html %}
{% include sections/location.html %}

{% include sections/contact.html %}
{% include footer.html %}


