<section id="about" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 col-sm-12">
                <h2>About</h2>
                <hr>
                <p class="lead">HackCU was started four years ago by a group of passionate students who wanted to provide other students the time and space to work on projects they don’t normally work on through school. Since then we’ve been committed to fulfilling our mission of bringing you high-quality, inclusive events open to people of all levels of experience.  </p>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
