<section id="schedule" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Event Schedule <br>
                        <small>Subject to change.</small>
                    </h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2>Check Back Later!</h2>
            </div>
        </div>
    </div>
</section>