<section id="speakers" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Have an idea for a talk?</h2>
                <hr>
                <p class="lead">Apply below to give a talk at the CU Blockchain summit. Community member talks only. For company related talks see our <a href="/sponsor">Sponsorship Options</a>.</p>
                <div class="buttons">
                  <div class="svg-wrapper ">
                      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                          <rect class="shape" height="40" width="150"/>
                          <div class="text">
                              <a href="https://docs.google.com/forms/d/17gBGIfqD3-TG12WMUyBUnomnJ_E5Hw4uoM21T2bANzg/viewform?edit_requested=true" target="_blank">Apply</a>
                          </div>
                      </svg>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>