<section class="container">
  <div class="why-sponsor">
    <img src="assets/images/logo.png" alt="" class="img-responsive club-logo">
    <h1>CU Blockchain Summit Sponsorship Guide</h1>
    <hr>
    <h2>About the Event</h2>
    <div class="row">
      <p class="col-md-offset-1 col-md-10">We are extremely excited to announce the first annual CU Blockchain Summit coming to the Idea Forge on the CU Boulder campus this April 14th and 15th. The conference will feature talks, workshops, and panels all day on both Saturday and Sunday. The event will also include a 24 hour hackathon dedicated to blockchain based hacks. Started by the CU Blockchain club, the conference is the first time we are bringing together the greater Colorado student blockchain community. Students will be attending from CU Boulder, Colorado School of Mines, CU Denver, and Colorado State University, making it the largest blockchain-focused gathering of students in Colorado. </p>
      <p class="col-md-offset-1 col-md-10">Building off the success of EthDenver, the focus on the event is to catalyze the growth of blockchain development among students in Colorado. The event is primarily educational, allowing even beginners to start working with blockchain tech, build dapps, and securely own coins. Throughout the event we will be hosting workshops focused on teaching students about new technologies in the ecosystem and panels from blockchain experts. </p>
      <p class="col-md-offset-1 col-md-10">Sponsors at the event will receive access to our community in a variety of ways. All sponsors will receive branding at the event along with in-person access to the student blockchain community. We are also offering opportunities to host talks and workshops, host a challenge at the hackathon, and recruiting and interview opportunities. More details below.</p>
    </div>
    <h2>Why Sponsor?</h2>
    <div class="row">
      <ul class="col-md-offset-1">
        {% for reason in site.data.sponsorship-reasons %}
          <li>{{reason}}</li>
        {% endfor%}
      </ul>
    </div>
  </div>
</section>