<section class="container">
  <div class="why-sponsor">
    <img src="assets/images/CU_Blockchain_Logo_Black.png" alt="" class="img-responsive club-logo">
    <h1>CU Blockchain Summit Sponsorship Guide</h1>
    <hr>
    <h2>About the Event</h2>
    <div class="row">
      <p class="col-md-offset-1 col-md-10">We are extremely excited to announce the second annual CU Blockchain Summit coming to the University Memorial Center at CU Boulder on October 13! The conference will feature panels discussing various blockchain related topics and a pitch competition.The event will kick off a 3 week long blockchain project competition dedicated to building dApps, working on company sponsored bounties, and other blockchain hacks. Started by CU Blockchain, the conference will bring together the greater Colorado blockchain community. Students will be attending from CU Boulder, Colorado School of Mines, CU Denver, and Colorado State University, making it one of the largest blockchain-focused gathering of students and community members in Colorado. </p>
      <p class="col-md-offset-1 col-md-10">The focus of the event is to advance the adoption of blockchain technology and catalyze the growth of blockchain development among students in Colorado. The event is primarily educational, allowing anyone to start learning about blockchain tech and development. Throughout the 3 week competition we will be hosting weekly workshops focused on helping teams get through tough technical challenges. This gives your company a unique opportunity to educate some of the youngest blockchain contributors about the possibilities of the technology.</p>
      <p class="col-md-offset-1 col-md-10">Sponsors at the event will receive access to our community in a variety of ways. All sponsors will receive branding at the event along with in-person access to the student blockchain community. We are also offering opportunities to join panels, host a bounty for the project competition, and recruit/interview potential candidates. More sponsorship details are listed below.</p>
    </div>
    <h2>Why Sponsor?</h2>
    <div class="row">
      <ul class="col-md-offset-1">
        {% for reason in site.data.sponsorship-reasons %}
          <li>{{reason}}</li>
        {% endfor%}
      </ul>
    </div>
  </div>
</section>
